#box1{
    background-color: cadetblue;
    }

    section #text1 {
        width: 100%;
        margin-top: -2%;
    }
    section #text1 img{
        padding-bottom: 7%;
        height: 15%;
        width: 15%;
    }
    section #text2 {
      margin-top: -4%;
      width: 100%;
      background-color: cadetblue;
    }
    section #text2 label {
      margin-top: 5%;
      padding-left: 0px;
      margin-left: 2.3%;
      color: white;
      width: 23%;
    }
    section #text2 img {
      padding-top: 2%;
      padding-bottom: 2%;
      height: 12.5%;
      width: 12.5%;
      margin-left: 30%;
    }
    


