
#content label{
    color: white;
    text-align: justify;
    margin-left: 17%;
}
#content{
    background-color: cadetblue;
    padding: 3%;
    height: max-content;
}
#mainTitles h2{
    font-weight: bolder;
    font-size: 400%;
}